html
{
  background: url(/images/Header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-margin  {
    margin: 0px;
}

.no-padding   {
    padding: 0;
}

