@font-face { font-family: RobotoCondensed; src: url(/fonts/RobotoCondensed-Regular.ttf); } 
@font-face { font-family: RobotoCondensedItalic; src: url(/fonts/RobotoCondensed-Italic.ttf); }
@font-face { font-family: RobotoCondensedLight; src: url(/fonts/RobotoCondensed-Light.ttf); } 
@font-face { font-family: RobotoCondensedLightItalic; src: url(/fonts/RobotoCondensed-LightItalic.ttf); }
@font-face { font-family: RobotoCondensedBold; src: url(/fonts/RobotoCondensed-Bold.ttf); } 
@font-face { font-family: RobotoCondensedBoldItalic; src: url(/fonts/RobotoCondensed-BoldItalic.ttf); } 
@font-face { font-family: RobotoLight; src: url(/fonts/Roboto-Light_0.ttf); } 
@font-face { font-family: RobotoLightItalic; src: url(/fonts/Roboto-LightItalic_0.ttf); }
@font-face { font-family: Roboto; src: url(/fonts/Roboto-Medium_0.ttf); } 
@font-face { font-family: RobotoItalic; src: url(/fonts/Roboto-MediumItalic_0.ttf); }
@font-face { font-family: RobotoBold; src: url(/fonts/Roboto-Bold_0.ttf); } 
@font-face { font-family: RobotoBoldItalic; src: url(/fonts/Roboto-BoldItalic_0.ttf); }  


html { 
  background: url(/images/Header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.License:link {
color: #c4c4c4;
}

.License:visited {
color: #c4c4c4;
}

.License:hover {
color: #c4c4c4;
}

.License:active {
color: #c4c4c4;
}

