html { 
  background: url(https://i.imgur.com/3Krw87M.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.License:link {
color: #252525;
}

.License:visited {
color: #252525;
}

.License:hover {
color: #636363;
}

.License:active {
color: #252525;
}
