html { 
  background: url(https://lh6.googleusercontent.com/wKnoasFP8oquxAH90WwpkRJT8-wztGTZ51uTNJY4-V5j44wOZqKRMYHzsCJGLbaAcqvtS5JWdac=w1342-h547) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.License:link {
color: #252525;
}

.License:visited {
color: #252525;
}

.License:hover {
color: #636363;
}

.License:active {
color: #252525;
}
